// Key Bindings
// Wiki: https://niri-wm.github.io/niri/Configuration:-Key-Bindings

binds {
    Mod+O repeat=false { toggle-overview; }
    Mod+W repeat=false { close-window; }

    // Move focus with Mod + arrow keys
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Down  { focus-window-or-workspace-down; }

    // Move focus with Mod + scroll based on the natural-scroll
    Mod+WheelScrollUp         cooldown-ms=150 { focus-window-or-workspace-up; }
    Mod+WheelScrollDown       cooldown-ms=150 { focus-window-or-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { focus-column-left; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-column-right; }

    // Move active window with Mod + Shift + arrow keys
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }

    // Move active window with Mod + Ctrl + scroll based on the natural-scroll
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-left; }
    Mod+Shift+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-right; }

    // Move active window with Mod + touchpad based on the natural-scroll
    Mod+TouchpadScrollDown cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+TouchpadScrollUp cooldown-ms=150  { move-column-to-workspace-down; }
    Mod+TouchpadScrollRight cooldown-ms=150 { move-column-left; }
    Mod+TouchpadScrollLeft cooldown-ms=150  { move-column-right; }

    // Alternatively, move using Home and End
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // Switch workspaces with Mod + [1-9; 0]
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    // Move active window to a workspace with Mod + SHIFT + [1-9; 0]
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }
    // Switch workspaces with SUPER + [1-9; 0]
    // NOTE! Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.

    // // Move focus to other monitor
    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }

    // Move window to other monitors
    Super+Shift+Alt+Left  { move-column-to-monitor-left; }
    Super+Shift+Alt+Down  { move-column-to-monitor-down; }
    Super+Shift+Alt+Up    { move-column-to-monitor-up; }
    Super+Shift+Alt+Right { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    // Switches focus between the current and the previous workspace.
    // TAB between workspaces
    // Mod+Tab { focus-workspace-previous; }
}
