// Autostart
// Wiki: https://niri-wm.github.io/niri/Configuration:-Miscellaneous

hotkey-overlay {
    // Disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
spawn-at-startup "walker" "--gapplication-service"
