// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "outputs.kdl"
include "appearance.kdl"
include "autostart.kdl"
include "environment.kdl"

include "rules/system.kdl"
include "rules/browser.kdl"
include "rules/terminal.kdl"

include "binds/actions.kdl"
include "binds/hardware.kdl"
include "binds/navigation.kdl"
