// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "outputs.kdl"
include "environment.kdl"
include "appearance.kdl"
include "autostart.kdl"
include "rules.kdl"
include "bindings.kdl"
