// Window rules let you adjust behavior for individual windows.
// Wiki: https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"(?i)^(firefox|zen|librewolf)$"# title="^Picture-in-Picture$"
    open-floating true

    // Give it a default size when it pops out
    // default-column-width { proportion 0.25; }
    // default-window-height { proportion 0.25; }
    // default-column-width { fixed 400; }
    // default-window-height { fixed 225; }
}
